body {
    background-color: #FAFAFA;
}

.sidemenu-title > img {
    width: 64px;
    height: 64px;
}

.footer-links {
    display: flex;
}

.sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 256px;
    padding-top: 20px;
    background-color: #B71C1C;
    transition: width 0.3s;
    border-radius: 0px 8px 8px 0px;
}

.sidemenu .nav-link, .sidemenu-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #FAFAFA;
    border-radius: 8px;
}

.nav-link {
    margin-top: 12px;
}

.sidemenu-title {
    background-color: #212121;
    color: #B71C1C;
    padding: 24px;
    width: 100%;
}

.sidemenu-title p {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #FAFAFA;
}

.sidemenu .description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.sidemenu .nav-link:hover {
    background-color: #212121;
}

.icon {
    color: #b8b8b8;
}

.credits .nav-link {
    display: flex;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a1a1a1;
}

.credits .icon {
    color: #FAFAFA;
}

.sidemenu .nav-link:active {
    background-color: #000000;
}

.main-content {
    height: 100%;
    margin-left: 256px;
    padding: 0px 20px 20px 20px;
}

.card {
    max-height: 400px;
    overflow: auto;
    border-radius: 8px;
    border: 2px double #B71C1C;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 1px #000;
    margin-top: 12px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
}

.card-img-top {
    width: 100%;
    height: 214px;
}

.card-title {
    font-weight: bolder;
    font-size: 24px;
}

.card-body {
    padding: 16px;
}

.card img {
    transition: transform 0.3s ease, filter 0.3 ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);    
}

.card:hover img {
    filter: brightness(85%);
}

@media (max-width: 480px) {
    .sidemenu, .sidemenu-title, .credits {
        width: 60px;
    }
    
    .sidemenu-title, .footer-links {
        flex-direction: column;
    }

    .sidemenu .description, .sidemenu-title p, .credits p {
        display: none;
    }

    .sidemenu-title img {
        width: 48px;
        height: 48px;
    }

    .footer-links .nav-link{
        padding: 5px 10px;
        margin-top: 0;
    }
    
    .main-content {
        margin-left: 60px;
    }
}
