body {
    background-color: #FAFAFA;
    min-width: 375px;
}

hr {
    color: #575757;
}

#harvard-shield {
    width: 64px;
    height: 64px;
    margin-right: 5px;
}

.sidemenu-title img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.footer-links {
    display: flex;
}

.sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 256px;
    padding-top: 20px;
    background-color: #B71C1C;
    transition: width 0.3s;
    border-radius: 0px 8px 8px 0px;
    border-right: 8px solid #a1a1a1;
}

.sidemenu .nav-link, .sidemenu-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #FAFAFA;
    border-radius: 8px;
}

.nav-link {
    margin-top: 12px;
    transition: all 0.3s ease;
}

.sidemenu-title {
    background-color: #212121;
    color: #B71C1C;
    padding: 24px;
    width: 100%;
}

.sidemenu-title p {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #FAFAFA;
}

.sidemenu .description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.sidemenu .nav-link:hover {
    background-color: #FAFAFA;
    color: #B71C1C;
    transition: background-color 0.3s ease;
    transform: translateY(-5px);
    font-weight: bolder;
}

.icon {
    color: #b8b8b8;
}

.credits .nav-link {
    display: flex;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a1a1a1;
}

.credits .icon {
    color: #FAFAFA;
}

.credits .nav-link:hover {
    background-color: #212121;
}

.sidemenu .nav-link:active {
    background-color: #000000;
}

.main-content {
    height: 100%;
    margin-left: 256px;
    padding: 0px 20px 20px 20px;
}

.card {
    max-height: 400px;
    overflow: auto;
    border-radius: 8px;
    border: 8px outset #b8b8b8;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 1px #000;
    margin-top: 12px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
}

.card-img-top {
    width: 100%;
    height: 214px;
}

.card-title {
    font-weight: bolder;
    font-size: 24px;
}

.card-body {
    padding: 16px;
}

.card img {
    transition: transform 0.3s ease, filter 0.3 ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);    
}

.card:hover img {
    filter: brightness(85%);
}

.breaking-news {
    background-color: #B71C1C;
    color: #FAFAFA;
    font-weight: bolder;
    padding: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 256px;
    border-radius: 8px;
    border-bottom: 8px solid #a1a1a1;
    margin: 0 20px 0 276px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
}

.breaking-title {
    margin-right: 16px;
    text-transform: uppercase;
}

.ticker {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}

.ticker span {
    display: inline-block;
    padding-left: 100%;
    animation: ticker 20s linear infinite;
}

#ticker-content {
    white-space: pre;
}

#news-container {
    margin-top: 24px;
}

@keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media (max-width: 767px) {
    .sidemenu {
        display: none;
    }
    .breaking-news {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0 0 8px 8px;
    }
    .main-content {
        margin-top: 64px;
        margin-left: 0;
    }
    .navbar-brand {
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        color: #FAFAFA;
    }
    .navbar-custom {
        padding: 20px;
        background-color: #212121;
    }
    .navbar-custom .nav-link {
        color: #FAFAFA;
        padding: 16px;
        border-radius: 8px;
        font-family: "Montserrat", sans-serif;
    }
    .navbar-custom .nav-link:hover {
        background-color: #FAFAFA;
        color: #B71C1C;
    }
    .navbar-custom .nav-link:active {
        background-color: #000;
        font-weight: bolder;
    }
    .navbar-custom .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FAFAFA' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-custom .navbar-toggler {
        border: 0;
        background-color: #B71C1C;
    }
    .navbar-custom .navbar-toggler:active {
        border: 1px solid #FAFAFA;
    }
    .navbar-custom .navbar-nav {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .credits {
        flex-direction: row;
    }
    .navbar-custom p {
        color: #a1a1a1;
        text-align: center;
    }
}
