.nav-link:focus-visible,
.btn:focus-visible {
    outline: 2px solid #f00;
    outline-offset: 2px;
}

body {
    background-color: #FAFAFA;
    min-width: 375px;
}

hr {
    color: #575757;
}

#harvard-shield {
    width: 64px;
    height: 64px;
    margin-right: 5px;
}

.nav-link {
    margin-top: 12px;
    transition: all 0.3s ease;
}

.main-content {
    height: 100%;
    margin-left: 256px;
    padding: 0px 20px 20px 20px;
}

#news-container {
    margin-top: 24px;
}

@media (max-width: 767px) {
    .main-content {
        margin-top: 64px;
        margin-left: 0;
    }
}
